<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>
			Learn more about me
		</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        <h1>Hello, welcome to my website where you can learn more about me.</h1>
        <div class="img-text-box-head">
            <img src="{{ url_for('static', filename='img/annette.jpg') }}" alt="Annette Wiegold" width="200" height="200" class="center-img">
        </div>
        <h2>My Background</h2>
        <div class="img-text-box">
            <img src="{{ url_for('static', filename='img/classroom.jpg') }}" alt="Classroom" width="200" height="200">
        </div>
        <p>Hello, my name is Annette Wiegold! I'm passionate about education, technology, and making a real difference in the lives of young learners. I've been working at the International School Ruhr in Essen since 2017- starting out as a Teaching Assistant in the Early Years, then moving into a German Teacher role, and now I'm a Homeroom Teacher. After volunteering with youth at my local church, I quickly realised how much I love guiding and inspiring young people. That feeling never left me, so I'm studying the ITEPS programme at NHL Stenden to become a fully qualified international primary school teacher- Early Years and Lower Primary are where my heart is.</p>
        <h2>My Hobbies</h2>
        <div class="img-text-box">
            <img src="{{ url_for('static', filename='img/garden.jpg') }}" alt="Garden" width="200" height="200">
            <img src="{{ url_for('static', filename='img/concert.jpg') }}" alt="Concert" width="200" height="200">
        </div>
        <p>In my free time, I really enjoy growing my own vegetables in my small garden. Tending to my plants allows me to relax and connect with nature, and I find it very rewarding to watch my vegetables grow from seeds into fresh, healthy products. Gardening is not only a hobby but also a way for me to practice patience, creativity, and care, which are qualities I value both in my personal life and in my work with children.</p>
        <p>I also enjoy going to metal concerts with friends. I love the energy and intensity of the music, as well as the excitement of being part of a live crowd. Experiencing different bands and their performances inspires me creatively and gives me a sense of adventure outside of my daily routine. Sharing these moments with friends makes it even more memorable and enjoyable.</p>
        
    
		
	</body>
</html>
